/coverage
/vendor
/app/**/*.php
/tests/**/*.php
/views/**/*.php
/scripts/*.php
/aerys.log
/pre.paths
/config.php
/helpers.php
/routes.php
/macros.php
/.env
/public/css/*
/public/js/*
/public/fonts/*
/public/mix-manifest.json
/node_modules
